#rulebook{
    z-index:1;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-size: 1.5em;
}

#rulebook::-webkit-scrollbar {
    display: none;
  }

#rulebook img{
    margin-top:3vh;
    margin:auto;
    width:30vw;
    display:block;

}

#rulebook img{
    margin-top:3vh;
    width:50vw;
    display:block;

}

#centerdiv{
    margin-left:5vw;
    width:50vw;
    text-align: left;
    font-size: 0.8em;

}

#rulebook h1{
    font-size: 1.5em;
}

#hiderulebookbutton{
    height:5vh;
    width:50vw;
    position:sticky;
    top:2vh;
}

.aside{
    color:red;
    font-size:0.9em;
    font-style:italic;
    font-weight: bold;

}